h1 {
    color: white;
    text-align: center;
    background-color: darkmagenta;
    width: 500px;
    margin: 20px;
    padding: 10px;
    border: 3px solid blue;
}

p {
    color: red;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
}

table {
    border: 2px solid blue;
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background-color: lightgray;
}

div {
    padding: 15px;
}

.name {
    color: blue;
    background-color: lightgray;
    text-decoration: underline;
}

#top {
    font-size: 36px;
    font-weight: bold;
}

#middle {
    font-size: 24px;
}

/* All descendents including child and its childs */
ol li {
    color: blue;
}
/* Immediate child */
ol > li {
    color: Red;
}

/* attributes value */
input[type=text] {
    background-color: red;
}

button {
    background-color: green;
    font-size: 24px;
}

button:hover {
    background-color: orange;
}

a::before {
    content: "\21d2 Click Here: ";
    font-weight: bold;
}

p::selection {
    color: green;
    background-color: yellow;
}

/* SOme content need not required when you are printing like submit button */
@media print {
    .screen-only {
        display: none;
    }
}

@media (max-width: 499px) {
    body {
        background-color: red;
    }

    h1::before {
        content: "Welcome "
    }
}

@media (min-width: 500px) {
    body {
        background-color: blue;
    }

    h1::before {
        content: "Welcome Sir "
    }
}