{% extends "layout.html" %}

{% block header %}
    <div class="row">
       <div class="col-md-12">
          <h1>Payveris JSON Beautifier</h1>
       </div>
    </div>
{% endblock %}

{% block body %}

   <form name="form1" method="post" action="{{ url_for('jsonBeautifier') }}" id="form1">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-12">
               <span class="orange">Paste an JSON document and make it look beautiful</span>
               <br></br>
            </div>
            <div class="col-md-12">
                     <textarea name="JSONDocumentTextBox" rows="2" cols="20" id="JSONDocumentTextBox"
                               title="Paste an JSON document and hit &quot;beautify now&quot;...">{{ rawJson }}</textarea>
               <label class="style1" style="font-size: xx-small">
               </label>
            </div>
         </div>
         <br></br>
         <div class="row">
            <div class="col-md-12">
               <input type="submit" name="BtfNowButton" value="beautify now!" id="jsonbfButton"
                      class="btn btn-lg btn-warning beautify-button"/>
            </div>
         </div>
      </div>
   </form>

{% endblock %}

{% block footer %}

{% endblock %}


