<!DOCTYPE html>
<html>
    <head>
        <title>
            Payveris Tools
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="description" content="An online XML formatter."/>
        <meta name="keywords" content="XML formatting, XML beautify, XML prettyprint, online tool"/>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="static/css/bootstrap.min.css"/>
        <script src="static/js/jquery-3.5.1.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="static/styles/cssStyles.css">
    </head>
    <body>
        <img class="logo" src="static/images/payverislogo.png">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <div class="col-md-3">
                <button>
                    <a class="active" href="/">Home</a>
                </button>
                <!--<button>
                    <a href="/">Close</a>
                </button>-->
            </div>
        </nav>
        {% block header %}
        {% endblock %}

        <h1>{% block heading %}{% endblock %}</h1>

        {% block body %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
    </body>
</html>