$Background: white;
$h1Color: cyan;
$textColor1: black;
$defaultMargin: 10px;
$defaultPadding: 10px;

body {
    background-color: $Background;
    margin: $defaultMargin;
    padding: $defaultPadding;
    color: $textColor1;
}

textarea {
    border-color:#FF9900;
    border-style:Solid;
    font-family:Courier New;
    height:400px;
    width:100%;
}

div h1 {
    color: $textColor1;
    text-align: center;
    background-color: $h1Color;
    border: 3px solid black;
    margin: 10px;
}

.logo {
    position: absolute;
    top: 0px;
    right: 0px;
}

#xmlbfButton {

}